
ol.cdp-numbered-list {
    background: #f5f5f5;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0.2em 0.2em 0.2em 2em;
}

ol.cdp-numbered-list li {
    display: block;
    margin-bottom: 0.6em;
    padding: 0;
    width: auto;

    position: relative;
    left: 5em;
    right: -10em;

    background: #fff;
    border: 1px dotted #ccc;
}

ol.cdp-numbered-list li > div.label {
    display: inline-block;
    margin: 0 0.2em 0.4em 0;
    padding: 0 0.6em 0 0;
    width: 4em;
    white-space: nowrap;

    position: absolute;
    left: -5em;

    background: #fff;
    border: 1px dotted #ccc;
}

ol.cdp-numbered-list li > ol  {
    background: #f5f5f5;
    list-style-type: none;
    padding: 0 !important;
}