{% extends 'base.html.twig' %}

{% block body %}
    <textarea name="editor1" id="editor1" rows="10" cols="80">
        <ol>
            <li>
                <div class="label">test</div><div class="list-item">test</div>
            </li>
        </ol>
    </textarea>

    <div class="mt-5 border-top pt-5">

        <ol class="cdp-numbered-list">
            <li><div class="label">#.</div><div class="list-item">Enter text here.</div></li>
            <li><div class="label">#.</div><div class="list-item">Enter text here.</div></li>
            <li>
                <div class="label"></div>
                <div class="list-item">
                    <ol>
                        <li><div class="label">#.</div><div class="list-item">Enter text here.</div></li>
                        <li><div class="label">#.</div><div class="list-item">Enter text here.</div></li>
                        <li><div class="label">#.</div><div class="list-item">Enter text here.</div></li>
                    </ol>
                </div>
            </li>
            <li><div class="label">#.</div><div class="list-item">Enter text here.</div></li>
            <li><div class="label">#.</div><div class="list-item">Enter text here.</div></li>
            <li><div class="label">#.</div><div class="list-item">Enter text here.</div></li>
            <li><div class="label">#.</div><div class="list-item">Enter text here.</div></li>
            <li><div class="label">#.</div><div class="list-item">Enter text here.</div></li>
            <li><div class="label">#.</div><div class="list-item">Enter text here.</div></li>
            <li><div class="label">#.</div><div class="list-item">Enter text here.</div></li>
            <li><div class="label">#.</div><div class="list-item">Enter text here.</div></li>
        </ol>

    </div>


    <script src="/ckeditor/ckeditor.js"></script>
    <script>
        setTimeout(function() {
            let config = {
                contentsCss: "/ck.css",
                extraPlugins: "cdpNumberedList",
                // removePlugins: 'list'
            };
            CKEDITOR.plugins.addExternal("cdpNumberedList", "/plugins/cdp_list/", "plugin.js");

            CKEDITOR.on('instanceReady', function(e) {
                var editor = e.editor;
                editor.dataProcessor.htmlFilter.addRules({
                    elements: {
                        li: function(e) {
                            console.log(e);
                        }
                    }
                });
            });

            CKEDITOR.replace("editor1", config);
        }, 100);
    </script>
{% endblock %}
